/*
==========================================
 Title: in-n-out book
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 09/26/2021
  Description: final deployment
==========================================
*/

//link styling
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}

//spinner styling
.spinner {
  padding: 20px;
  margin-left: 50%;
}

//grid container styling
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 25px;
}

.grid-container__item{
  padding: 20px;
  font-size: 30px;
}

.grid-container__ahref:hover {
  text-decoration: underline;
}

.grid-container__ahref {
  text-decoration: none;
  cursor: pointer;
}
