/*
==========================================
Title: in-n-out book
  Author: Professor Krasso
  Modifier: Sarah Jean Baptiste
  Date: 09/26/2021
  Description: final deployment
==========================================
*/

// styling for logo
.logo {
  margin-top: 5px;
}

// styling for main container
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
